/* ==========================================================================
   Includes
   ========================================================================== */

@import "fonts";
@import "icons";

$breakpoint-phone:		30em;
$breakpoint-tablet:		50em;
$breakpoint-desktop:	70em;

$color-green-85: #95D936;
$color-green-72: #7EB72D;

$color-yellow-100:	#98e9dd;

$color-gray-97: #F2F3F5;
$color-gray-90: #E1E2E6;
$color-gray-85: #D4D5D9;
$color-gray-65: #9D9FA6;
$color-gray-50: #737580;
$color-gray-40: #595B66;
$color-gray-25: #363740;
$color-gray-15: #1F2026;

/*
	Change the accent colors here. Make sure they work on light an dark
	backgrounds or as background color for light and dark text color
*/

$color-primary-default:		$color-green-85; /* Light */
$color-primary-active:		$color-green-72; /* Dark */

$color-accent-default:		#49aec3; /* Light */
$color-accent-dim:			rgba(15, 220, 212, 0.6);
$color-accent-active:		#40c4d0; /* Dark */
$color-accent-active-fade:	rgba(15, 220, 212, 0.4); 


/* ==========================================================================
   Basics
   ========================================================================== */


html {}

body {
	font: 400 1.05em / 1.66em 'Noto Sans', sans-serif;
	color: $color-gray-40;
}

::-moz-selection, ::selection {
	color: #222;
	background: #D6EDFF;
	text-shadow: none;
}
a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
	-webkit-transition: all ease-out 0.2s;
	transition: all ease-out 0.2s;

	&:hover,
	&:focus {
		color: $color-gray-15;
	}
}
.no-break {
	white-space: nowrap;
}
.post-content a {
	border-bottom: 2px solid $color-primary-default;

	&:hover,
	&:focus {
		border-color: $color-primary-active;
	}
}


h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	color: $color-gray-15;

	a {
		font-weight: inherit;
	}
}

h1 {
	font-size: 2em;
	line-height: 1em;
	margin: 2em 0 -0.5em;
}

h2 {
	font-size: 1.75em;
	line-height: 1.143em;
	margin: 2.286em 0 -0.571em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.334em;
	margin: 2em 0 -0.667em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.2em;
	margin: 2.4em 0 -0.8em;
}

p {
	margin: 1.15em auto;
	@media only screen and (min-width: $breakpoint-tablet) {
		margin-bottom: 1.2em auto;
	}
	@media only screen and (min-width: $breakpoint-desktop) {
		margin-bottom: 1.34em auto;
	}
}

ul {
	list-style: none;
}
li {
	position: relative;
}
ul > li:before,
ol > li:before {
	position: absolute;
	width: 2em;
	margin-left: -3em;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5em;
	text-align: right;
	color: $color-gray-15;
}
ul > li:before {
	margin-top: 0.125em;
	content: '*';
}
ol {
	list-style-type: none;
	counter-reset: item;
}
ol > li:before {
	content: counter(item) ". " !important;
	counter-increment: item;
}

ol,
ul {
	padding-left: 3em;
	margin: 2em auto;

	ol,
	ul {
		padding-left: 1.5em;
		margin: 1em auto;
	}
}

dl {
	margin: 2em auto;

	dt {
		font-size: 0.875em;
		line-height: 1.143em;
		font-weight: 700;
		margin-bottom: 0.571em;
		color: $color-gray-15;
	}

	dd {
		margin-left: 1em;
		margin-bottom: 1.5em;
	}
}

hr {
	display: block;
	height: 1px;
	margin: 2em 0;
	padding: 0;
	background: $color-gray-90;
	border: 0;
}

blockquote {
	margin: 2em auto;
	padding: 0 1em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 0.25em solid $color-gray-85;
	font-style: italic;
	font-weight: 400;
	color: $color-gray-40;
	background: transparent;

	* {
		margin: 1em auto;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}


em, i {
	font-weight: 400;
	font-style: italic;
	color: $color-gray-25;
}
strong, b {
	font-weight: 700;
	color: $color-gray-25;
}

small {
	font-size: 0.9em;
}

mark {
	background-color: $color-yellow-100;
}

code,
tt {
	display: inline-block;
	position: relative;
	top: -1px;
	padding: 3px 6px;
	margin: -1px 2px;
	font-family: 'Inconsolata', monospace;
	font-size: 0.875em;
	line-height: 1.143em;
	color: #000;
	font-weight: 400;
	border-radius: 2px;
}
pre code.hljs {
	// background-color: transparent !important;
}

tt {
	background: $color-gray-90;
}

pre {
	margin: 2em auto;
	width: 100%;
	padding: 1em;
	font-family: 'Inconsolata', monospace;
	white-space: pre;
	overflow: auto;
	background-color: rgba(250, 250, 250, 0.5);
	color: #fff;
	box-sizing: border-box;

	code,
	tt {
		position: static;
		top: auto;
		font-size: 1em;
		line-height: 1.5em;
		white-space: -moz-pre-wrap;
		white-space: pre-wrap;
		vertical-align: inherit;
		border: none;
		padding: 0;
		background: transparent;
	}
}

pre.codeblock {
	position: relative;
	padding: 1em;
	overflow: hidden;

	code {
		display: block;
		border: 0;
		padding-left: 4em;
		margin: -1.6em;
		white-space: inherit;
		overflow-x: scroll;
	}

	.lines {
		position: absolute;
		width: 3em;
		height: 100%;
		left: 0;
		top: 0;
		border-right: 1px solid $color-gray-85;
		font-size: 1em;
		line-height: 1.5em;
		text-align: right;
		box-sizing: border-box;
		user-select: none;
		cursor: default;
		background: $color-gray-97;


		.line {
			display: block;
			padding-right: 0.5em;
			  color: $color-gray-65;
		}
	}
}

kbd {
	display: inline-block;
	margin: 0 2px 4px;
	padding: 1px 8px;
	border: #ccc 1px solid;
	color: #666;
	text-shadow: #fff 0 1px 0;
	font-size: 0.875em;
	font-weight: bold;
	background: $color-gray-97;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}


table {
	width: 100%;
	max-width: 100%;
	margin: 2em 0;
	background-color: transparent;
	border: 1px solid $color-gray-90;
}

table th,
table td {
	position: relative;
	padding: 1em;
	line-height: 1em;
	text-align: left;
	border: 1px solid $color-gray-90;
}
table th {
	font-weight: 700;
	font-size: 0.75em;
	line-height: 1.334em;
	padding: 1.334em;
	color: $color-gray-15;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 2.5em auto;
}

iframe {
	margin: 2.5em auto;
}

.fluid-width-video-wrapper {
	margin: 2.5em auto;

	iframe {
		margin: auto;
	}
}


/* ==========================================================================
   Default
   ========================================================================== */

#nprogress {

	.bar {
		background: $color-primary-default !important;
		height: 3px !important;

		.peg {
			box-shadow: none !important;
		}
	}

	.spinner {
		display: none !important;
		top: 50% !important;
		right: 50% !important;

		.spinner-icon {
			width: 4em !important;
			height: 4em !important;
			margin: -4em -4em 0 0 !important;
			border-top-color: $color-primary-default !important;
			border-left-color: $color-primary-default !important;
		}
	}
}

body {
	background: #fff;
}

.menu-initial {

	body {
		transition:  all ease-out 0.3s;
		overflow: hidden;
	}
}

.menu-active {

	body {
		background: $color-gray-15;
	}
}


.inner {
	max-width: 48em;
	margin: 0 auto;
	padding: 0 1em;
}




#wrapper {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 6em;
	background: $color-gray-97;
}




.menu-initial {

	#wrapper {

	}
}

.menu-active {

	#wrapper {

	}
}

/* ==========================================================================
   Push Animations
   ========================================================================== */

@keyframes pushPrev {
	0% {
		transform: translate3d(0,0,0);
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translate3d(-150%,0,0);
		opacity: 0;
	}
}

@keyframes pushedPrev {
	0% {
		transform: translate3d(100%,0,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes pushNext {
	0% {
		transform: translate3d(0,0,0);
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translate3d(150%,0,0);
		opacity: 0;
	}
}

@keyframes pushedNext {
	0% {
		transform: translate3d(-100%,0,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

#push {
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
	opacity: 1;
}

.push-next {

	#push {
		animation: pushNext ease-in 0.5s forwards !important;
	}
}

.pushed-next {

	#push {
		animation: pushedNext ease-out 0.5s forwards;
	}
}

.push-prev {

	#push {
		animation: pushPrev ease-in 0.5s forwards !important;
	}
}

.pushed-prev {
	#push {
		animation: pushedPrev ease-out 0.5s forwards;
	}
}



/* ==========================================================================
   Navigation
   ========================================================================== */

#nav {
	position: relative;
	background: #fff;
	z-index: 70;
	transition: all ease-out 0.4s;
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
	opacity: 1;

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	

	.nav-menu-left {
		float: left;
		@media only screen and (max-width: $breakpoint-tablet) {
			width: 100%;
		}

		&:before {
			clear: both;
			content: '';
			display: table;
		}

		.nav-logo {
		
			padding: 0.75em 1.5em 2.25em 1.5em;

			img {
				padding: 0;
				margin: 0;
				@media only screen and (max-width: $breakpoint-tablet) {
				    float: left;
				}
			}

			.name {
				@media only screen and (max-width: $breakpoint-tablet) {
					display: block;
				}
				display: none;
				line-height: 2em;
				font-weight: 800;
				color: $color-gray-25;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 0.25em;
			}
		}

		a {
			@media only screen and (max-width: $breakpoint-tablet) {
				float: none;
			}
			display: block;
			height: 1em;
			line-height: 1em;
			padding: 1.5em;
			text-align: center;
			float: left;
			cursor: pointer;

			&:hover,
			&:focus {
				background: $color-gray-90;
			}

			i:before {
				margin: auto;
			}
		}

		.rss {}

		.menu {
			@media only screen and (max-width: $breakpoint-phone) {
				display: none;
			}
			&:active {
				background: $color-accent-active-fade;
			}
		}
		.menu-optional {
			@media only screen and (max-width: $breakpoint-tablet) {
				display: none;
			}
			&:active {
				background: $color-accent-active-fade;
			}
		}
	}

	.nav-menu {
		float: right;

		@media only screen and (max-width: $breakpoint-tablet) {
			display: none;
		}

		&:after {
			clear: both;
			content: '';
			display: table;
		}

		a {
			display: block;
			width: 1em;
			height: 1em;
			line-height: 1em;
			padding: 1.5em;
			text-align: center;
			float: left;
			cursor: pointer;

			&:hover,
			&:focus {
				background: $color-gray-90;
			}

			i:before {
				margin: auto;
			}

			
		}

		.rss {}

		.menu {}
	}
}

.loading {

	#nav {
		transform: translate3d(0,-100%,0);
		opacity: 0;
	}
}

#menu, #tocMenu {
	display: none;
	position: fixed;
	left: 50%;
	top: 5%;
	width: 30em;
	height: 90%;
	margin-left: -15em;
	background: transparent;
	box-sizing: border-box;
	padding: 3em 0 0;
	overflow: hidden;
	transition: all ease-out 0.3s;
	transform: translate3d(0,2em,0);
	transform-style: preserve-3d;
	opacity: 0;
	z-index: 100;

	@media only screen and (max-width: $breakpoint-tablet) {
		width: 90%;
		left: 5%;
		margin-left: auto;
	}

	&.initial {
		display: block;
	}

	&.active {
		opacity: 1;
		transform: translate3d(0,0,0);
	}

	.menu-header {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 3.5em;
		padding: 1em 1.5em 0.5em;
		margin-bottom: 1em;
		line-height: 2em;
		z-index: 110;
		box-sizing: border-box;
		background: #fff;

		&:before {
			content: '';
			position: absolute;
			left: -5%;
			bottom: -1em;
			width: 110%;
			height: 2em;
			background: #fff;
			border-bottom: 4px solid $color-primary-default;
			box-shadow: 0 0.125em 0.125em rgba(0,0,0,0.1);
			transform: rotate(2.5deg);
			transition: all ease-out 0.2s;
			z-index: 115;
		}

		&:after {
			clear: both;
			content: '';
			display: table;
		}

		.menu-label {
			position: relative;
			display: block;
			float: left;
			z-index: 120;
		}

		.menu-close {
			position: relative;
			display: block;
			float: right;
			width: 2em;
			height: 2em;
			padding: 1em;
			margin: -1em -1.5em -1em 0;
			cursor: pointer;
			z-index: 125;

			&:after,
			&:before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				background: $color-gray-65;
				transform: rotate(45deg);
			}

			&:hover,
			&:focus {

				&:after,
				&:before {
					background: $color-gray-50;
				}
			}

			&:after {
				width: 2px;
				height: 1em;
				margin: -0.5em 0 0 -1px;
			}
			&:before {
				width: 1em;
				height: 2px;
				margin: -1px 0 0 -0.5em;
			}
		}
	}

	.menu-list {
		position: relative;
		list-style: none;
		margin: 0;
		padding: 2em 0;
		height: 100%;
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: scroll;
		background: #fff;

		.menu-list-item {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 1.5em;
				top: 0;
				width: 100%;
				border-top: 1px solid $color-gray-90;
			}

			&:first-child {

				&:after {
					display: none;
				}
			}

			a {
				position: relative;
				display: block;
				padding: 1em 1.5em;
				font-weight: inherit;
				font-weight: 400;

				&:hover,
				&:focus {
					background: $color-gray-90;
				}

				&.current {
					font-weight: 700;
					color: $color-gray-25;

					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						border-left: 4px solid $color-primary-default;
					}
				}
			}
		}
	}
}

.overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 80;
	display: none;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $color-gray-15;
		opacity: 0;
		transition: all ease-out 0.3s;
		transform-style: preserve-3d;
	}
}

.menu-initial {

	.overlay {
		display: block;
	}
}

.menu-active {

	.overlay:before {
		opacity: 0.9;
	}
}


/* ==========================================================================
   Header
   ========================================================================== */

#header {
	position: relative;
	padding: 4em 0;

	.inner {
		position: relative;
		z-index: 2;
	}

	.header-title {
		display: block;
		text-align: center;
	}

	.header-name {
		font-weight: 700;
		letter-spacing: -1px;
		display: block;
		line-height: 1em;
		font-size: 2em;
		text-decoration: none;
		color: $color-gray-15;
		padding: 0;
		margin: 0;

		em {
			font-family: 'Helvetica Neue', sans-serif;
			position: relative;
			top: -0.334em;
			margin-left: -0.25em;
			display: inline-block;
			width: auto;
			min-width: 0.5em;
			height: 1.5em;
			padding: 0 0.5em;
			line-height: 1.5em;
			font-style: normal;
			font-weight: 400;
			font-size: 0.5em;
			background: $color-primary-default;
			color: #fff;
			text-shadow: 0 0 2px $color-primary-active;
			border-radius: 2em;
		}
	}

	&.has-cover {

		.header-name {
			color: #fff;
		}
	}

	.header-description {
		display: block;
		margin: 1em auto 0;
		color: $color-gray-65;
		position: relative;
		font-weight: 300;

		&:after {
			content: '';
			position: absolute;
			height: 1px;
			width: 100px;
			margin-left: -50px;
			left: 50%;
			top: -0.5em;
			background: $color-gray-85;
		}
	}

	&.has-cover {

		.header-description {
			color: #fff;

			&:after {
				background: #fff;
			}
		}
	}


	.header-image {
		width: 3em;
		height: 3em;
		margin: -1em auto 1em;
		overflow: hidden;
		border-radius: 3em;
		border: 2px solid $color-primary-default;
		background: $color-primary-active;

		img {
			width: 100%;
			margin: auto;
		}
	}

	&.has-cover {

		.header-image {
			border-color: #fff;
		}
	}

	.header-meta {
		display: block;
		margin: 1.334em auto -1.334em;
		color: $color-gray-65;
		position: relative;
		font-weight: 300;
		 font-size: 0.75em;
		 line-height: 1.334em;

		span {
			font-weight: 400;
			color: $color-gray-40;
			margin-right: 1em;

			a {
				color: inherit;
				text-decoration: none;
			}

			i {
				color: $color-gray-65;
			}
		}

	}

	&.has-cover {

		.header-meta {
			color: #fff;

			span {
				color: #fff;

				i {
					color: #fff;
					opacity: 0.5;
				}
			}
		}
	}

	.header-cover {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin-top: -4em;
		padding: 4em 0;
		background: no-repeat fixed center 100% / cover;
		z-index: 1;

		 &:before {
			  content: '';
			  position: absolute;
			  width: 100%;
			  height: 100%;
			  left: 0;
			  top: 0;
			background: rgba(0,0,0,0.2);
		 }

		 &:after {
			  content: '';
			  position: absolute;
			  width: 100%;
			  left: 0;
			  bottom: 0;
			border-bottom: 4px solid $color-primary-default;
		 }
	}
}


/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: 0.75em;
	line-height: 1.334em;
	background: $color-gray-15;
	color: $color-gray-50;
	z-index: 20;
	transition: all ease-out 0.4s;
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
	opacity: 1;

	a {
		color: $color-gray-65;
		font-weight: 400;
	}

	.credits {
		text-align: center;
		font-size: 0.75em;
		line-height: 1.334em;
		padding: 2.667em;
		overflow: auto;

		span {
			display: block;
		}

		.credits-theme {
			float: left;
		}
		.credits-software {
			float: right;
		}
	}
}

.loading {

	#footer {
		transform: translate3d(0,100%,0);
		opacity: 0;
	}
}

/* ==========================================================================
   Post
   ========================================================================== */

.post, .article {
	position: relative;
	z-index: 20;

	.post-image {
		display: block;
		margin: 0;
		padding: 0;

		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
		}
	}

	.post-meta {
		display: block;
		font-size: 0.75em;
		line-height: 2em;
		font-weight: 300;

		a {
			color: inherit;
			text-decoration: none;

			border-bottom: 1px solid rgba(0,0,0,0.2);

			&:hover,
			&:focus {
				border-bottom-color: rgba(0,0,0,0.4);
			}
		}

		.post-date {
			white-space: nowrap;
		}

		@media only screen and (min-width: $breakpoint-tablet) {
			margin-bottom: 0.66em;
		}
		@media only screen and (min-width: $breakpoint-desktop) {
			margin-bottom: 1.334em;
		}
	}

	.post-title {
		position: relative;
		color: #000;
		font-size: 2em;
		line-height: 1.375em;
		font-weight: 800;
		text-indent: -1px;
		margin: 0.25em 0 0.75em;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.334em;
			width: 1em;
			margin-bottom: -2px;
			border-bottom: 4px solid $color-primary-default;
		}

		a {
			text-decoration: none;
			color: inherit;
			font-weight: inherit;
		}
	}

	.post-header {
		padding: 1em 0 0;
		
		@media only screen and (min-width: $breakpoint-phone) {
			padding: 1em 0 0;
			margin-bottom: 0.5em;
		}
		@media only screen and (min-width: $breakpoint-tablet) {
			padding: 2em 0 0;
			margin-bottom: 2em;
		}
		@media only screen and (min-width: $breakpoint-desktop) {
			padding: 4em 0 0;
			margin-bottom: 3em;
		}
	}
}



/* ==========================================================================
   Index
   ========================================================================== */

#post-index {
	position: relative;
	max-width: 1200px;
	margin: 0 auto 4em;
	padding: 0.5em;
	z-index: 10;
}

@keyframes fade {
	0% {
		transform: translate3d(0,3em,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

.post-list {
	position: relative;

	.post, article, .article {
		float: left;
		width: 33.30%;

		@media only screen and (max-width: $breakpoint-tablet) {
			width: 49.90%;
		}

		@media only screen and (max-width: $breakpoint-phone) {
			width: 100%;
			float: none;
		}

		transform: translate3d(0,3em,0);
		transform-style: preserve-3d;
		opacity: 0;

		animation: fade ease-out 0.5s forwards;
		animation-delay: 1.4s;

		&.initial {
			z-index: 25;

			.inner {
				transition: all ease-in 0.5s;
			}
		}

		&.active {

			.inner {
				transform: scale(1.5);
			}
		}

		&:nth-child(1) {
			animation-delay: 0.1s;
		}
		&:nth-child(2) {
			animation-delay: 0.2s;
		}
		&:nth-child(3) {
			animation-delay: 0.3s;
		}
		&:nth-child(4) {
			animation-delay: 0.4s;
		}
		&:nth-child(5) {
			animation-delay: 0.5s;
		}
		&:nth-child(6) {
			animation-delay: 0.6s;
		}
		&:nth-child(7) {
			animation-delay: 0.7s;
		}
		&:nth-child(8) {
			animation-delay: 0.8s;
		}
		&:nth-child(9) {
			animation-delay: 0.9s;
		}
		&:nth-child(10) {
			animation-delay: 1.0s;
		}
		&:nth-child(11) {
			animation-delay: 1.1s;
		}
		&:nth-child(12) {
			animation-delay: 1.2s;
		}

		&.article.devlog {

			.inner {
				background: $color-gray-25;
				color: $color-gray-65;
			}

			.post-image {

				&:after {
					background: $color-gray-25;
					bottom: -2.5em;
					height: 5em;
				}
			}

			.post-title {
				color: #fff;
			}

			.post-excerpt {
				color: $color-gray-85;
			}

			.post-more a {
				color: #fff;
			}
		}

		&.article.featured {

			.inner {
				background: $color-gray-15;
				color: $color-gray-65;

				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					width: 0;
					height: 0;
					border-right: 3em solid $color-yellow-100;
					border-bottom: 3em solid transparent;
					z-index: 1;
				}

				&:before {
					font-family: "icons";
					content: '\e800';
					position: absolute;
					right: 0;
					top: 0;
					width: 1.75em;
					height: 1.75em;
					line-height: 2em;
					text-align: center;
					color: $color-gray-15;
					z-index: 2;
				}
			}

			.post-image {

				&:after {
					background: $color-gray-15;
					bottom: -2.5em;
					height: 5em;
				}
			}

			.post-title {
				color: #fff;
			}

			.post-excerpt {
				color: $color-gray-85;
			}

			.post-more a {
				color: #fff;
			}
		}

		.inner {
			padding: 2em;
			margin: 0.5em;
			max-width: none;
			background: #fff;
			box-sizing: border-box;
			transition: all ease-out 0.2s;
			transform: scale(1);
			transform-style: preserve-3d;

			@media only screen and (max-width: $breakpoint-tablet) {
				padding: 1em;
			}
		}

		.post-link {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
		}

		.post-image {
			position: relative;
			margin: -2em -2em 0;
			overflow: hidden;
			background: transparent;

			@media only screen and (max-width: $breakpoint-tablet) {
				margin: -1em -1em 0;
			}

			img {
				transition: all ease-out 0.3s;
				transform: scale(1);
				transform-style: preserve-3d;
				opacity: 1;
			}

			&:after {
				content: '';
				position: absolute;
				left: -5%;
				bottom: -2.5em;
				width: 110%;
				height: 4em;
				background: #fff;
				border-top: 4px solid $color-primary-default;
				box-shadow: 0 0 2em rgba(0,0,0,0.2);
				transform: rotate(5deg);
				transition: all ease-out 0.2s;
			}
		}

		&:hover,
		&:focus {

			.inner {
				box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.05), 0 8px 48px rgba(0,0,0,0.1);
			}

			.post-image {

				img {
					transform: scale(1.05);
					opacity: 0.5;
				}

				&:after {
					border-top-width: 0;
					box-shadow: none;
				}
			}
		}

		.post-meta {

		}

		.post-title {
			font-size: 1.5em;
			line-height: 1.167em;
		}

		.post-excerpt {
			margin: 0;
		}

		.post-more {
			display: block;
			margin-top: 2em;
			text-align: right;

			a {
				display: inline-block;
				font-size: 0.875em;
				line-height: 1.143em;
				font-weight: 400;
				color: $color-gray-25;

				&:hover,
				&:focus {
					color: $color-gray-15;
				}

				i {
					color: $color-primary-active;
				}
			}
		}
	}
}

/* ==========================================================================
   Post Footer
   ========================================================================== */

.post-footer {
	margin: 4em 0;

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	.post-tags {
		float: left;
		max-width: 60%;

		a {
			font-size: 0.875em;
			line-height: 1.714em;
			display: inline-block;
			border: 0;
			margin-bottom: 0.286em;
			padding: 0.286em 0.714em;
			border-radius: 2px;
			color: #fff;
			text-shadow: 0 0 2px $color-primary-active;
			background: $color-primary-default;
			font-weight: 300;

			&:hover,
			&:focus {
				background: $color-primary-active;
			}
		}
	}

	.post-share {
		float: right;

		a {
			font-size: 0.75em;
			display: block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			text-decoration: none;
			padding: 0.334em;
			margin: 0 0 0.334em 0.334em;
			float: left;
			border-radius: 2px;
			color: #fff;
			background: $color-gray-50;

			&:hover,
			&:focus {

			}

			&:before {
				margin: auto;
			}

			span {
				display: none;
			}

			&.icon-twitter {
				background-color: #3ea9dd;
			}
			&.icon-facebook {
				background-color: #3c5a98;
			}
			&.icon-gplus {
				background-color: #d14836;
			}
		}
	}
}

.post-comments {
	margin: 4em 0;
	border-radius: 2px;
}

.post-meta a.section-link {
	font-size: 0.875em;
	line-height: 1.714em;
	display: inline-block;
	border: 0;
	margin-bottom: 0.286em;
	padding: 0.286em 0.714em;
	border-radius: 2px;
	color: #fff !important;
	text-shadow: 0 0 2px $color-accent-active;
	background: $color-accent-dim;
	font-weight: 500;

	&:hover,
	&:focus {
		background: $color-accent-active;
	}
}

/* ==========================================================================
   Post Nav
   ========================================================================== */

.post-nav {
	position: relative;

	@media only screen and (max-width: $breakpoint-desktop) {
		height: 7em;
		margin: 2em 0;
	}

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	.post-nav-item {
		position: fixed;
		top: 50%;
		display: block;
		margin-top: -4em;
		overflow: hidden;
		border-radius: 10em;
		transition: none;

		@media only screen and (max-width: $breakpoint-desktop) {
			position: absolute;
			top: auto;
			margin: auto;
			max-width: 50%;
		}

		&:hover,
		&:focus {
			border-radius: 0;

			.post-nav-teaser {

				.post-nav-icon {
					box-shadow: 0 0 0 25em $color-primary-default;

					@media only screen and (max-width: $breakpoint-tablet) {
						box-shadow: 0 0 0 2px $color-primary-default;
					}
				}

				.post-nav-info {
					display: block;

					@media only screen and (max-width: $breakpoint-tablet) {
						display: none;
					}

					.post-nav-title {
						color: $color-gray-15;
					}

					.post-nav-excerpt {
						color: #fff;
					}
				}
			}
		}

		&.post-nav-next {
			left: 0;
			text-align: left;

			.post-nav-icon {
				float: left;

				i {
					left: -0.05em;
				}
			}

			.post-nav-info {
				padding-left: 6em;
			}
		}

		&.post-nav-prev {
			right: 0;
			text-align: right;

			.post-nav-icon {
				float: right;

				i {
					right: -0.05em;
				}
			}

			.post-nav-info {
				padding-right: 6em;
			}
		}

		.post-nav-teaser {
			display: block;
			padding: 1em;
			transition: all ease-out 0.2s;
			max-width: 25em;
			overflow: visible;

			&:after {
				clear: both;
				content: '';
				display: table;
			}

			.post-nav-icon {
				display: block;
				width: 5em;
				height: 5em;
				line-height: 5em;
				text-align: center;
				box-sizing: border-box;
				border-radius: 10em;
				border: 1px solid $color-primary-default;
				box-shadow: 0 0 0 0 transparent;
				transition: all ease-out 0.1s;
				background: $color-gray-97;

				@media only screen and (max-width: $breakpoint-phone) {
					width: 4em;
					height: 4em;
					line-height: 4em;
				}

				i {
					position: relative;
					font-size: 2em;

					@media only screen and (max-width: $breakpoint-phone) {
						font-size: 1.5em;
					}

					&:before {
						margin: auto;
					}
				}
			}

			.post-nav-info {
				display: none;
				width: 100%;
				box-sizing: border-box;
				transition: all ease-out 0.2s;

				.post-nav-title {
					display: block;
					max-height: 1.25em;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					margin: 1.25em 0 0.25em;
					font-size: 1em;
					line-height: 1.25em;
					font-weight: 700;
					color: $color-gray-25;
				}

				.post-nav-excerpt {
					display: block;
					max-height: 1.334em;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					margin: 0;
					font-size: 0.75em;
					line-height: 1.334em;
					font-weight: 400;
					color: $color-gray-65;
				}
			}
		}
	}
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
	min-height: 3em;
	margin: 4em auto 2em;
	padding: 0;
	position: relative;
	clear: both;

	.pagination-item {
		position: relative;
		display: block;
		height: 3em;
		line-height: 3em;
		padding: 0 1em;
		text-align: center;
		text-decoration: none;
		font-weight: 700;
		color: $color-gray-97;
		background: $color-primary-default;
		transition: all ease-out 0.1s;
		border-radius: 0.15em;
		z-index: 60;

		&:hover,
		&:focus {
			color: #fff;
			background: $color-primary-active;
		}

		i {
			position: relative;
			color: #fff;
		}

		@media only screen and (max-width: $breakpoint-phone) {
			width: 4em;
			height: 4em;
			line-height: 4em;
			margin-top: -0.5em;
			padding: 0 !important;

			i {
				font-size: 1.5em;
			}

			> span {
				display: none;
			}
		}
	}

	.pagination-prev {
		float: right;

		i {
			right: -0.05em;
		}
	}

	.pagination-next {
		float: left;

		i {
			left: -0.05em;
		}
	}

	.pagination-info {
		display: block;
		left: 0;
		top: 0;
		height: 3em;
		line-height: 3em;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 50;
		color: $color-gray-65;
	}
}
