<a href="{{ .Site.BaseURL }}" class="nav-logo"><img src="/images/platymoose.png" /><span class="name">Platymoose</span></a>
<a href="/illustration/">illustration</a>
<a href="/painting/">painting</a>
<a href="/sketchbook/">sketchbook</a>
<a href="/craft/">craft</a>
<a href="/contact/">contact</a>