{{ partial "header.html" . }}

<header id="header" class="header{{ if .Site.Params.cover }} has-cover{{ end }}">
	<div class="inner">
		<a class="header-title" href="{{ .Site.BaseURL }}">
			<h1 class="header-name">Contact Me</h1>
		</a>
	</div>
	{{ if .Site.Params.cover }}
	<div class="header-cover" style="background-image: url({{ .Site.Params.cover }})"></div>
	{{ end }}
</header>

	<div id="post-index" class="container">

		<main class="content" role="main">

			<div class="post-list">
				<div id="push">
                    
                    <!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://raptor1.typeform.com/to/nXzHk9" data-text="Contact Form" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"><a href="https://www.typeform.com/examples/forms/contact-form-template/?utm_campaign=nXzHk9&amp;utm_source=typeform.com-6889556-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-contactform&amp;utm_term=EN" style="color: #999" target="_blank">Contact form</a>powered by Typeform</div>


				</div>
			</div>
			
	

		</main>

	</div>

{{ partial "footer.html" . }}